{% extends 'index.html' %}
{% load static %}
{% block body %}
	<div class="w3l_banner_info">
		<div class="slider1">
			<div class="callbacks_container">
				<ul class="rslides" id="slider3">
					<li>
						<div class="slider1-img" style="height:90px">
							<div class="slider_banner_info">
							
								
							</div>
						</div>
					</li>
					
					
				</ul>
			</div>
		</div>
	</div>
	<!-- //banner-slider -->
</div>
</header>


<section class="about py-lg-5 py-md-4 py-md-3 py-2" id="about">
<div class="about py-lg-5 py-md-4 py-md-3 py-2">
<div class="container">
<h3 class="mb-lg-4 mb-md-3 mb-sm-2 mb-2">ABOUT US</h3><iframe style="height:0"></iframe>
<div class="row">
<div class="col-md-6 com-sm-6 w3three_al1">
<h4 class="mb-lg-4 mb-md-3 mb-sm-2 mb-2">Take A Look About Our Company</h4>
<p class="mb-lg-4 mb-md-3 mb-sm-2 mb-2">To be updated...... </p>
<a href="#">Read More</a>
</div>
<div class="col-md-6 com-sm-6 w3three_al">
<img src="images/ab.jpg" alt="" class="img-fluid">
</div>
</div>

</section>



{% endblock %}

